.posterButton {
    padding: 0;
    border: none;
    margin: none;
}
.poster {
    height: 225px;
    width: 175px;
    border-radius: 1rem;
    
} 
.projectCard {
    width: 100%;
    box-shadow: border-box;
   margin: 1rem;
   border-radius: 1rem;
   display: flex;
  
}
.projectCard > h1 {
    margin: none;
}
.projectContainer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.descriptionFields {
   margin-left: 1.5rem;
   top: 0;
}
.projectTitle {
    font-weight: 200;
    font-size: 1.5rem;
}
.builtwith {
    font-weight: 200;
    margin-bottom: 2rem;
    font-size: 1rem;
}
.smallDetails {
    font-size: 1rem;
    font-weight: 200;
}
.poster:hover {
    cursor: pointer;
    opacity: .7
}
.githubLink {
    background-color: white;
    color: black;
    padding: .5rem;
    border-radius: 1rem;
    font-weight: 200;
    margin-top: 2rem;

}

.githubLink2 {
    background-color: white;
    color: black;
    padding: .5rem;
    border-radius: 1rem;
    font-weight: 200;
    margin-top: 2rem;
    margin-right: .5rem;
}

.githubLink2:hover {
    background-color: rgb(248, 236, 89);
}


.githubLink:hover {
    background-color: rgb(248, 236, 89);
}


button {
     background-color: rgb(78, 87, 247);
     border: none;
}



@media (max-width: 425px) {
    .projectTitle {
        font-size: 1.2rem;
    }
    .builtwith {
        font-size: .7rem;
    }
    .smallDetails {
        font-size: .7rem;
    }
    .poster {
        height: 200px;
        width: 160px;
        border-radius: 1rem;
    } 
    .descriptionFields {
        margin-left: 1rem;
        margin-right: 1rem;
        top: 0;
     }
     .githubLink {
      
        padding: .3rem;
        border-radius: 1rem;
        font-weight: 200;
        margin-top: 1.5rem;
    
    }
}
@media (max-width: 380px) {
    .githubLink {
        padding: .2rem;
        border-radius: .7rem;
        font-weight: 200;
        margin-top: 1.5rem;
    
    }
}