.container {
    margin-top: 5rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.actionButton {
    width: 100%;
    max-width: 100px;
    padding: 1rem; 
    background-color: rgb(255, 255, 255);
    border: none;
    margin: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}
.actionButton:hover {
   background-color: rgb(248, 236, 89);
}
.resumeContainer {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: .75rem;
    padding: .5rem;
    border-radius: 1rem;
    
}
.resumeContainer:hover {
 background-color: rgb(248, 236, 89);
 cursor: pointer;
}

.loadIcon {
    height: 25px;
    width: 25px;
    color: white;
    padding: .5rem;
}
.welcome {
    font-weight: 200;
}
.languagelist {
    font-weight: 100;
}