.contactFormContainer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    color: rgb(47, 47, 47);
    height: auto;
    margin: auto;
}
.boxContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.formHoldit {
    box-sizing: border-box;
    display: grid;
    width: 80%;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.input {
    box-sizing: border-box;
    border: none;
    padding: .5rem;
    height: 50px;
    border-radius: 1rem;
    outline: none;
    grid-column-start: 1;
    grid-column-end: 1;
    
}
.inputBody {
    box-sizing: border-box;
    color: gray;
    padding: .5rem;
    width: 100%;
    border:none;
    border-radius: 1rem;
    outline: none;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
    padding:.2rem;
}
.input:hover  {
    cursor: pointer;
    background-color: rgb(220, 220, 220);
}
.inputBody:hover {
    cursor: pointer;
    background-color: rgb(220, 220, 220);
}
.input:hover ::placeholder {
    display: none;
}

.submitButton {
    margin-top: -2rem;
    padding: 1rem;
    padding-left: 2rem; 
    padding-right: 2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 1rem;
}
.submitButton:hover {
    background-color: rgb(213, 206, 139);
    cursor: pointer;
}
.contactPhrase {
    font-weight: 200;
    font-size: 1.5rem;
    color:rgb(229, 229, 229);
    margin-bottom: 3rem;
}


.bodyContainer:hover  {
    background-color: rgb(220, 220, 220);
}
.bodyContainer:hover .inputBody{
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}
.contactFooter {
    margin-top: 8rem;
    position: sticky;
    display: flex;
    justify-content: center;
}

.linkedin {
 margin-right: .5rem;
}
.github {
    margin-left: .5rem;
    
}

@media screen and (max-width:555px)  {
    /* .contactPhrase {
        font-size: 1.3rem;
    }
    .input {
        height: 30px;
    } */
}

@media screen and (max-width: 425px) {
    .input {
       height: 2rem;
       
    }
    .contactPhrase {
        font-size: 1.1rem;
    }
  
    
}

@media screen and (max-width: 450px) {
    /* .input {
        height: 20px;
    }
    .contactPhrase {
        font-size: 1.1rem;
} */
}