.contactFormContainer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    color: rgb(47, 47, 47);
    height: auto;
    margin: auto;
}
.boxContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.formHoldit {
    box-sizing: border-box;
    display: grid;
    width: 80%;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.input {
    box-sizing: border-box;
    border: none;
    padding: .5rem;
    height: 50px;
    border-radius: 1rem;
    outline: none;
    grid-column-start: 1;
    grid-column-end: 1;
    
}
.inputBody {
    box-sizing: border-box;
    color: gray;
    padding: .5rem;
    width: 100%;
    border:none;
    border-radius: 1rem;
    outline: none;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
    padding:.2rem;
}
.input:hover  {
    cursor: pointer;
    background-color: rgb(220, 220, 220);
}
.inputBody:hover {
    cursor: pointer;
    background-color: rgb(220, 220, 220);
}
.input:hover ::placeholder {
    display: none;
}

.submitButton {
    margin-top: -2rem;
    padding: 1rem;
    padding-left: 2rem; 
    padding-right: 2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 1rem;
}
.submitButton:hover {
    background-color: rgb(213, 206, 139);
    cursor: pointer;
}
.contactPhrase {
    font-weight: 200;
    font-size: 1.5rem;
    color:rgb(229, 229, 229);
    margin-bottom: 3rem;
}


.bodyContainer:hover  {
    background-color: rgb(220, 220, 220);
}
.bodyContainer:hover .inputBody{
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}
.contactFooter {
    margin-top: 8rem;
    position: sticky;
    display: flex;
    justify-content: center;
}

.linkedin {
 margin-right: .5rem;
}
.github {
    margin-left: .5rem;
    
}



@media screen and (max-width: 425px) {
    .input {
       height:40px;
       
    }
    .contactPhrase {
        font-size: 1.1rem;
    }
  .formHoldit {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .submitButton {
    padding: .65em;
    font-size: .8rem;
    width: 25%;
    margin-top: 1.4rem;
  }
    .inputBody {
        font-size: .8rem;
        height: 120px;
    }
    .contactFooter {
        margin-top: 2rem;
    }

    .linkedin {
       width: 25px;
       }
       .github {
          width:25px ; 
           
       }
}
 
@media (min-width: 1000px) {
    .contactPhrase {
        font-size: 1.8rem;
        margin-bottom: 4rem;
    }

    .input {
        height:50px;
        font-size: 1rem;
     }
     .inputBody {
        font-size: 1rem;
     }
     .submitButton {
        padding: .8rem;
        font-size: 1rem;
        width: 15%;
        height: 40px;
        margin-top: 1rem;
      }
      .linkedin {
        width: 40px;
        margin-top: 0;
        }
        .github {
           width:40px;
           margin-top: 0rem; 
            
        }


}

